name: CI/CD

on:
  push:
    branches: [ production ]
  pull_request:
    branches: [ production ]
      
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Deploy
        uses: actions/setup-node@v2
  CD:
    needs: [CI]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Deploy 
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: echo $PWD
          username: root
          host: ${{ secrets.SSH_HOST }}
          privateKey: ${{ secrets.SSH_KEY }}
