name: CI/CD

on:
  push:
    branches: [ production ]
  pull_request:
    branches: [ production ]
      
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Deploy
        uses: actions/setup-node@v2
  CD:
    needs: [CI]
    runs-on: ubuntu-latest
    steps:
      - run: bash PFK/pfk-ecommerce-api deploy.sh
