name: CI/CD

on:
  push:
    branches: [ production ]
  pull_request:
    branches: [ production ]
      
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
  CD:
    needs: [CI]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Deploy
        uses: actions/setup-node@v2
        with:
          run: node PFK/pfk-ecommerce-api deploy.sh
          host: ${{secrets.SSH_HOST}}
          key: ${{secrets.SSH_KEY}} 
          username: ${{secrets.SSH_USERNAME}}
