name: CI/CD

on:
  push:
    branches: [ production ]
  pull_request:
    branches: [ production ]
      
jobs:
  CI/CD:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: Deploy
      with:
      - run: git pull
      - run: npm install
      - run: node index.js
