name: CI/CD

on:
  push:
    branches: [ production ]
  pull_request:
    branches: [ production ]
      
jobs:
  CICD:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Dedploy
        uses: actions/setup-node@v2
        with:
          command: bash KapiPay deploy.sh 
